<div id="<%= dom_id property %>">
  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Url image:</strong>
    <%= property.url_image %>
  </p>

</div>
